.modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.38);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .modal__form {
    width: 594px;
    min-height: 520px;
    background: rgba(236, 236, 236, 0.85);
    border-radius: 32px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .modal__name {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #373737;
  }
  .modal__name::after {
    content: " ";
    display: block;
    background-color: #000000;
    width: 333px;
    height: 1px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal__input-name {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #373737;
    margin-left: 104px;
    margin-top: 25px;
  }
  .modal__input {
    margin-left: 104px;
    margin-top: 12px;
    width: 387px;
    height: 51px;
    border-radius: 50px;
    border: none;
    padding-left: 34px;
  }
  .modal__input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #636a75;
  }
  
  .modal__select{
    margin-left: 104px;
    margin-top: 12px;
    width: 387px;
    height: 51px;
    border-radius: 50px;
    border: none;
    padding-left: 34px;
    padding-right: 10px;
    background-color: #fff;
  }
  
  .modal__select-option{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #636a75;
    margin-left: 34px;
  }
  
  .modal__button {
    display: block;
    width: 332px;
    height: 51px;
    background: #000000;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }
  .modal__button::before {
    content: " ";
    display: block;
    background-color: #000000;
    width: 333px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 48px;
  }